{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "never",
  "svelteIndentScriptAndStyle": false
}
